scenario='swe'
swe_dg_order='1'
flux_solver='fwave'
swe_scenario='radial_dam_break'
compiler='intel'
asagi='false'
asagi_dir='/app/samoa_xdmf_libs/intel/parallel'
netcdf_dir='/app/samoa_xdmf_libs/intel/parallel'
mpi='default'
target='debug'
data_refinement='sample'
boundary='disabled'
xdmf='true'
xdmf_fox_dir='/app/samoa_xdmf_libs/intel/parallel'
xdmf_hdf5_dir='/app/samoa_xdmf_libs/intel/parallel'
exe='samoa_swe_intel_'+swe_scenario